
<footer {% if t1d_bg_image_f1_parallax == 1 %}data-stellar-background-ratio="0.5"{% endif %}>

  {% if t1o_custom_top_1_status == 1 %}
  <div id="footer_custom_top_1" style="display: none">
  <div class="container">
  <div class="row come-item">
  <div class="col-sm-12 padd-t-b-30">
    {{ t1o_custom_top_1_content }}
  </div>
  </div>
  </div>
  </div>
  {% endif %}

  {% if t1o_information_column_1_status == 1 or t1o_information_column_2_status == 1 or t1o_information_column_3_status == 1 or t1o_custom_1_status == 1 or t1o_custom_2_status == 1 %}
  <div id="information" style="display: none">
  <div class="container">
    <div class="row come-item">
    {% if t1o_custom_1_status == 1 %}
      <div class="col-sm-{{ t1o_custom_1_column_width }} col-xs-12">
        {% if t1o_custom_1_title[lang_id] %}
        <h4>{{ t1o_custom_1_title[lang_id] }}</h4>
        {% endif %}
        {{ t1o_custom_1_content }}
      </div>
    {% endif %}
      
    {% if t1o_information_column_1_status == 1 or t1o_information_column_2_status == 1 or t1o_information_column_3_status == 1 %}
    <div class="col-sm-{{ t1o_information_block_width }} col-xs-12">
    <div id="information-block-containter">
      {% if t1o_information_column_1_status == 1 %}
      <div class="col-sm-{{ 12 // (t1o_information_column_1_status + t1o_information_column_2_status + t1o_information_column_3_status ) }}  col-xs-12">
        <h4>{{ text_information }}</h4>
        {% if informations %}
        <ul class="list-unstyled">
          {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
        </ul>
        {% endif %}
      </div>
      {% endif %}
      {% if t1o_information_column_2_status == 1 %}
      <div class="col-sm-{{ 12 // (t1o_information_column_1_status + t1o_information_column_2_status + t1o_information_column_3_status ) }}  col-xs-12">
        <h4>{{ text_service }}</h4>
        <ul class="list-unstyled">
          {% if t1o_i_c_2_1_status == 1 %}<li><a href="{{ contact }}">{{ text_contact }}</a></li>{% endif %}
          {% if t1o_i_c_2_2_status == 1 %}<li><a href="{{ account }}">{{ text_account }}</a></li>{% endif %}
          {% if t1o_i_c_2_3_status == 1 %}<li><a href="{{ return }}">{{ text_return }}</a></li>{% endif %}
          {% if t1o_i_c_2_4_status == 1 %}<li><a href="{{ order }}">{{ text_order }}</a></li>{% endif %}
          {% if t1o_i_c_2_5_status == 1 %}<li><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>{% endif %}
        </ul>
      </div>
      {% endif %}
      {% if t1o_information_column_3_status == 1 %}
      <div class="col-sm-{{ 12 // (t1o_information_column_1_status + t1o_information_column_2_status + t1o_information_column_3_status ) }}  col-xs-12">
        <h4>{{ text_extra }}</h4>
        <ul class="list-unstyled">
          {% if t1o_i_c_3_1_status == 1 %}<li><a href="{{ manufacturer }}">{{ text_manufacturer }}</a></li>{% endif %}
          {% if t1o_i_c_3_2_status == 1 %}<li><a href="{{ voucher }}">{{ text_voucher }}</a></li>{% endif %}
          {% if t1o_i_c_3_3_status == 1 %}<li><a href="{{ affiliate }}">{{ text_affiliate }}</a></li>{% endif %}
          {% if t1o_i_c_3_4_status == 1 %}<li><a href="{{ special }}">{{ text_special }}</a></li>{% endif %}
          {% if t1o_i_c_3_5_status == 1 %}<li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>{% endif %}
          {% if t1o_i_c_3_6_status == 1 %}<li><a href="{{ sitemap }}">{{ text_sitemap }}</a></li>{% endif %}
        </ul>
      </div>
      {% endif %}
    </div>
    </div>
    {% endif %}
      
      
      {% if t1o_custom_2_status == 1 %}
      <div class="col-sm-{{ t1o_custom_2_column_width }} col-xs-12">
        {% if t1o_custom_2_title[lang_id] %}
        <h4>{{ t1o_custom_2_title[lang_id] }}</h4>
        {% endif %}
        
        {% if t1o_newsletter_status == 1 %}
        <div class="newsletter-block">                   
        <form action="{{ t1o_newsletter_campaign_url }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
	        <label for="mce-EMAIL">{{ t1o_newsletter_promo_text[lang_id] }}</label>
	        <input type="email" value="" name="EMAIL" class="email form-group form-control" id="mce-EMAIL" placeholder="{{ t1o_newsletter_email[lang_id] }}" required>
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_619755c76ad5fa60a96e52bec_c5fb795f8e" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="{{ t1o_newsletter_subscribe[lang_id] }}" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
            </div>
        </form>
        </div>
        {% endif %}
        
        {{ t1o_custom_2_content }}
        
      </div>
      {% endif %}
    </div>
  </div>
  </div>
  {% endif %}
  
  {% if t1o_powered_status == 1 or t1o_follow_us_status == 1 or t1o_payment_block_status == 1 %}
  <div id="powered">
  <div class="container">
    <div class="row come-item">
    
      {% if t1o_payment_block_status == 1 %}
      <div id="footer-payment-wrapper" class="col-sm-{{ 12 // (t1o_payment_block_status + t1o_powered_status + t1o_follow_us_status) }}">
        <ul id="footer-payment" class="list-inline">
            
        {% if t1o_payment_block_custom_status == 1 %}
        
        {% if _SERVER.HTTPS and _SERVER.HTTPS != 'off' %}
			{% set path_image = config_ssl ~ 'image/' %}
		{% else %}  
			{% set path_image = config_url ~ 'image/' %}
		{% endif %}
        
        {% if t1o_payment_block_custom != '' %}
        {% if t1o_payment_block_custom_url != '' %} 
		<li><a href="{{ t1o_payment_block_custom_url }}" target="_blank">
			<img src="{{ path_image ~ t1o_payment_block_custom }}" alt="Payment" title="Payment"></a>
        </li>
        {% else %}
        <li>       
			<img src="{{ path_image ~ t1o_payment_block_custom }}" alt="Payment" title="Payment">
        </li>
        {% endif %}
		{% endif %}
		{% endif %}
        
        {% if t1o_payment_paypal == 1 %}
		<li data-toggle="tooltip" title="PayPal">
        {% if t1o_payment_paypal_url != '' %}
            <a href="{{ t1o_payment_paypal_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_paypal-{{ t1d_f3_payment_images_style }}.png" alt="PayPal" title="PayPal"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_paypal-{{ t1d_f3_payment_images_style }}.png" alt="PayPal" title="PayPal">
        {% endif %}
        </li>
		{% endif %} 
        
        {% if t1o_payment_visa == 1 %}
        <li data-toggle="tooltip" title="Visa">
        {% if t1o_payment_visa_url != '' %}
			<a href="{{ t1o_payment_visa_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_visa-{{ t1d_f3_payment_images_style }}.png" alt="Visa" title="Visa"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_visa-{{ t1d_f3_payment_images_style }}.png" alt="Visa" title="Visa">
        {% endif %}
        </li>
		{% endif %}   
        
        {% if t1o_payment_mastercard == 1 %}
        <li data-toggle="tooltip" title="MasterCard">
        {% if t1o_payment_mastercard_url != '' %}
			<a href="{{ t1o_payment_mastercard_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_mastercard-{{ t1d_f3_payment_images_style }}.png" alt="MasterCard" title="MasterCard"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_mastercard-{{ t1d_f3_payment_images_style }}.png" alt="MasterCard" title="MasterCard">
        {% endif %}
        </li>
		{% endif %} 
       
        {% if t1o_payment_maestro == 1 %}
        <li data-toggle="tooltip" title="Maestro">
        {% if t1o_payment_maestro_url != '' %}
			<a href="{{ t1o_payment_maestro_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_maestro-{{ t1d_f3_payment_images_style }}.png" alt="Maestro" title="Maestro"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_maestro-{{ t1d_f3_payment_images_style }}.png" alt="Maestro" title="Maestro">
        {% endif %}
        </li>
		{% endif %}
       
        {% if t1o_payment_discover == 1 %}
        <li data-toggle="tooltip" title="Discover">
        {% if t1o_payment_discover_url != '' %}
			<a href="{{ t1o_payment_discover_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_discover-{{ t1d_f3_payment_images_style }}.png" alt="Discover" title="Discover"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_discover-{{ t1d_f3_payment_images_style }}.png" alt="Discover" title="Discover">
        {% endif %}
        </li>
		{% endif %}                   
        
        {% if t1o_payment_skrill == 1 %}
        <li data-toggle="tooltip" title="Skrill">
        {% if t1o_payment_skrill_url != '' %}
			<a href="{{ t1o_payment_skrill_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_skrill-{{ t1d_f3_payment_images_style }}.png" alt="Skrill" title="Skrill"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_skrill-{{ t1d_f3_payment_images_style }}.png" alt="Skrill" title="Skrill">
        {% endif %}
        </li>
		{% endif %}   
        
        {% if t1o_payment_american_express == 1 %}
        <li data-toggle="tooltip" title="American Express">
        {% if t1o_payment_american_express_url != '' %}
			<a href="{{ t1o_payment_american_express_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_american_express-{{ t1d_f3_payment_images_style }}.png" alt="American Express" title="American Express"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_american_express-{{ t1d_f3_payment_images_style }}.png" alt="American Express" title="American Express">
        {% endif %}
        </li>
		{% endif %} 
                   
        {% if t1o_payment_cirrus == 1 %}
        <li data-toggle="tooltip" title="Cirrus">
        {% if t1o_payment_cirrus_url != '' %}
			<a href="{{ t1o_payment_cirrus_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_cirrus-{{ t1d_f3_payment_images_style }}.png" alt="Cirrus" title="Cirrus"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_cirrus-{{ t1d_f3_payment_images_style }}.png" alt="Cirrus" title="Cirrus">
        {% endif %}
        </li>
		{% endif %}   
        
        {% if t1o_payment_delta == 1 %}
        <li data-toggle="tooltip" title="Delta">
        {% if t1o_payment_delta_url != '' %}
			<a href="{{ t1o_payment_delta_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_delta-{{ t1d_f3_payment_images_style }}.png" alt="Delta" title="Delta"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_delta-{{ t1d_f3_payment_images_style }}.png" alt="Delta" title="Delta">
        {% endif %}
        </li>
		{% endif %}   
        
        {% if t1o_payment_google == 1 %}
        <li data-toggle="tooltip" title="Google Wallet">
        {% if t1o_payment_google_url != '' %}
			<a href="{{ t1o_payment_google_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_google-{{ t1d_f3_payment_images_style }}.png" alt="Google Wallet" title="Google Wallet"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_google-{{ t1d_f3_payment_images_style }}.png" alt="Google Wallet" title="Google Wallet">
        {% endif %}
        </li>
		{% endif %}
        
        {% if t1o_payment_2co == 1 %}
        <li data-toggle="tooltip" title="2CheckOut">
        {% if t1o_payment_2co_url != '' %}
			<a href="{{ t1o_payment_2co_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_2co-{{ t1d_f3_payment_images_style }}.png" alt="2CheckOut" title="2CheckOut"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_2co-{{ t1d_f3_payment_images_style }}.png" alt="2CheckOut" title="2CheckOut">
        {% endif %}
        </li>
		{% endif %} 
        
        {% if t1o_payment_sage == 1 %}
        <li data-toggle="tooltip" title="Sage">
        {% if t1o_payment_sage_url != '' %}
			<a href="{{ t1o_payment_sage_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_sage-{{ t1d_f3_payment_images_style }}.png" alt="Sage" title="Sage"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_sage-{{ t1d_f3_payment_images_style }}.png" alt="Sage" title="Sage">
        {% endif %}
        </li>
		{% endif %}   
        
        {% if t1o_payment_solo == 1 %}
        <li data-toggle="tooltip" title="Solo">
        {% if t1o_payment_solo_url != '' %}
			<a href="{{ t1o_payment_solo_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_solo-{{ t1d_f3_payment_images_style }}.png" alt="Solo" title="Solo"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_solo-{{ t1d_f3_payment_images_style }}.png" alt="Solo" title="Solo">
        {% endif %}
        </li>
		{% endif %} 
        
        {% if t1o_payment_amazon == 1 %}
        <li data-toggle="tooltip" title="Amazon Payments">
        {% if t1o_payment_amazon_url != '' %}
			<a href="{{ t1o_payment_amazon_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_amazon-{{ t1d_f3_payment_images_style }}.png" alt="Amazon Payments" title="Amazon Payments"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_amazon-{{ t1d_f3_payment_images_style }}.png" alt="Amazon Payments" title="Amazon Payments">
        {% endif %}
        </li>
		{% endif %}
        
        {% if t1o_payment_western_union == 1 %}
        <li data-toggle="tooltip" title="Western Union">
        {% if t1o_payment_western_union_url != '' %}
			<a href="{{ t1o_payment_western_union_url }}" target="_blank">
			<img src="catalog/view/theme/oxy/image/payment/payment_image_western_union-{{ t1d_f3_payment_images_style }}.png" alt="Western Union" title="Western Union"></a>
        {% else %}
            <img src="catalog/view/theme/oxy/image/payment/payment_image_western_union-{{ t1d_f3_payment_images_style }}.png" alt="Western Union" title="Western Union">
        {% endif %}
        </li>
		{% endif %}
            
          </ul>
      </div>
      {% endif %}
      
      {% if t1o_powered_status == 1 %}
      <div id="powered-content" class="col-sm-{{ 12 // (t1o_payment_block_status + t1o_powered_status + t1o_follow_us_status) }}">
      {{ t1o_powered_content }}
      </div>
      {% endif %}
      
      {% if t1o_follow_us_status == 1 %}
      <div id="footer-social-wrapper" class="col-sm-{{ 12 // (t1o_payment_block_status + t1o_powered_status + t1o_follow_us_status) }}">
      <ul id="footer-social" class="list-inline">

            {% if t1o_facebook != '' %} 
            <li data-toggle="tooltip" title="Facebook" class="facebook"><a href="{{ t1o_facebook }}" title="Facebook" target="_blank"><i class="fa fa-facebook"></i></a></li>
            {% endif %}
	        {% if t1o_twitter != '' %} 
            <li data-toggle="tooltip" title="Twitter" class="twitter"><a href="{{ t1o_twitter }}" title="Twitter" target="_blank"><i class="fa fa-twitter"></i></a></li>
            {% endif %}
	        {% if t1o_googleplus != '' %} 
            <li data-toggle="tooltip" title="Google+" class="google"><a href="{{ t1o_googleplus }}" title="Google+" target="_blank"><i class="fa fa-google-plus"></i></a></li>
            {% endif %}
	        {% if t1o_rss != '' %} 
            <li data-toggle="tooltip" title="RSS" class="rrs"><a href="{{ t1o_rss }}" title="RSS" target="_blank"><i class="fa fa-rss"></i></a></li>
            {% endif %}
	        {% if t1o_pinterest != '' %} 
            <li data-toggle="tooltip" title="Pinterest" class="pinterest"><a href="{{ t1o_pinterest }}" title="Pinterest" target="_blank"><i class="fa fa-pinterest"></i></a></li>
            {% endif %}
	        {% if t1o_vimeo != '' %} 
            <li data-toggle="tooltip" title="Vimeo" class="vimeo"><a href="{{ t1o_vimeo }}" title="Vimeo" target="_blank"><i class="fa fa-vimeo-square"></i></a></li>
            {% endif %} 
	        {% if t1o_flickr != '' %} 
            <li data-toggle="tooltip" title="Flickr" class="flickr"><a href="{{ t1o_flickr }}" title="Flickr" target="_blank"><i class="fa fa-flickr"></i></a></li>
            {% endif %}  
	        {% if t1o_linkedin != '' %} 
            <li data-toggle="tooltip" title="LinkedIn" class="linkedin"><a href="{{ t1o_linkedin }}" title="LinkedIn" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            {% endif %}
	        {% if t1o_youtube != '' %} 
            <li data-toggle="tooltip" title="YouTube" class="youtube"><a href="{{ t1o_youtube }}" title="YouTube" target="_blank"><i class="fa fa-youtube"></i></a></li>
            {% endif %}
	        {% if t1o_dribbble != '' %} 
            <li data-toggle="tooltip" title="Dribbble" class="dribbble"><a href="{{ t1o_dribbble }}" title="Dribbble" target="_blank"><i class="fa fa-dribbble"></i></a></li>
            {% endif %}
            {% if t1o_instagram != '' %} 
            <li data-toggle="tooltip" title="Instagram" class="instagram"><a href="{{ t1o_instagram }}" title="Instagram" target="_blank"><i class="fa fa-instagram"></i></a></li>
            {% endif %}   
            {% if t1o_behance != '' %} 
            <li data-toggle="tooltip" title="Behance" class="behance"><a href="{{ t1o_behance }}" title="Behance" target="_blank"><i class="fa fa-behance"></i></a></li>
            {% endif %}   
            {% if t1o_skype != '' %} 
            <li data-toggle="tooltip" title="Skype" class="skype"><a href="skype:{{ t1o_skype }}" title="Skype" target="_blank"><i class="fa fa-skype"></i></a></li>
            {% endif %}    
            {% if t1o_tumblr != '' %} 
            <li data-toggle="tooltip" title="Tumblr" class="tumblr"><a href="{{ t1o_tumblr }}" title="Tumblr" target="_blank"><i class="fa fa-tumblr"></i></a></li>
            {% endif %}
            {% if t1o_reddit != '' %} 
            <li data-toggle="tooltip" title="Reddit" class="reddit"><a href="{{ t1o_reddit }}" title="Reddit" target="_blank"><i class="fa fa-reddit"></i></a></li>
            {% endif %}
            {% if t1o_vk != '' %} 
            <li data-toggle="tooltip" title="VK" class="vk"><a href="{{ t1o_vk }}" title="VK" target="_blank"><i class="fa fa-vk"></i></a></li>
            {% endif %}   
        
      </ul>
      </div>
      {% endif %}
      
    </div>
  </div>
  </div>
  {% endif %}
  


</footer>



<script src="catalog/view/theme/oxy/js/jquery.visible.min.js" type="text/javascript"></script>
<script type="text/javascript">

var win = $(window);

var allMods = $(".come-item");

allMods.each(function(i, el) {
    
  if ($(el).visible(true)) {
    $(el).addClass("already-visible"); 
  }
  
});

win.scroll(function(event) {
  
  allMods.each(function(i, el) {
    
    var el = $(el);
    
    if (el.visible(true)) {
      el.addClass("come-in"); 
    } else {
      el.removeClass("come-in already-visible");
    }
    
  });
  
}); 
</script>
<script>

    // Product List
	$('#list-view').click(function() {
		$('#content .product-layout > .clearfix').remove();
        
		$('#content .category-product-items').attr('class', 'row product-items category-product-items product-list-wrapper');
		$('#content .product-layout').attr('class', 'product-layout product-list col-xs-12');

		localStorage.setItem('display', 'list');
	});
	
	// Product Small List
	$('#small-list-view').click(function() {
		$('#content .product-layout > .clearfix').remove();
        
		$('#content .category-product-items').attr('class', 'row product-items category-product-items product-list-wrapper');
		$('#content .product-layout').attr('class', 'product-layout product-list product-small-list col-xs-12');

		localStorage.setItem('display', 'small-list');
	});

	// Product Grid
	$('#grid-view').click(function() {
		$('#content .product-layout > .clearfix').remove();

		// What a shame bootstrap does not take into account dynamically loaded columns
		cols = $('#column-right, #column-left').length;

			$('#content .category-product-items').attr('class', 'row product-items category-product-items product-grid-wrapper');
			$('#content .product-layout').attr('class', 'product-layout product-grid {{ t1o_category_prod_box_style }} col-lg-{{ t1o_product_grid_per_row }} col-md-{{ t1o_product_grid_per_row }} col-sm-6 col-xs-6');
		
		 localStorage.setItem('display', 'grid');
	});
	
	// Product Gallery
	$('#gallery-view').click(function() {
		$('#content .product-layout > .clearfix').remove();

		// What a shame bootstrap does not take into account dynamically loaded columns
		cols = $('#column-right, #column-left').length;

			$('#content .category-product-items').attr('class', 'row product-items category-product-items product-gallery-wrapper');
			$('#content .product-layout').attr('class', 'product-layout product-gallery col-lg-{{ t1o_product_grid_per_row }} col-md-{{ t1o_product_grid_per_row }} col-sm-6 col-xs-6');

		 localStorage.setItem('display', 'gallery');
	});

	if (localStorage.getItem('display') == 'list') {
		$('#list-view').trigger('click');
	} else if (localStorage.getItem('display') == 'small-list') {
		$('#small-list-view').trigger('click');
	} else if (localStorage.getItem('display') == 'gallery') {
		$('#gallery-view').trigger('click');
	} else {
		$('#grid-view').trigger('click');
	}
	
	// Module Grid
	cols2 = $('#column-right, #column-left').length;

		$('#content .product-layout-grid').attr('class', 'product-layout product-grid {{ t1o_category_prod_box_style }} col-lg-{{ t1o_product_grid_per_row }} col-md-{{ t1o_product_grid_per_row }} col-sm-6 col-xs-6');
		$('.product-layout-slider').attr('class', 'product-layout-slider  product-grid {{ t1o_category_prod_box_style }} col-xs-12');

</script>
<script src="catalog/view/theme/oxy/js/tickerme.js" type="text/javascript"></script>
<script type="text/javascript">
$(function(){
	$('#ticker').tickerme();
});
</script>
<script type="text/javascript" src="catalog/view/theme/oxy/js/jquery.easing-1.3.min.js"></script>
{% if t1o_header_fixed_header_status == 1 %}
<script type="text/javascript" src="catalog/view/theme/oxy/js/jquery.sticky.js"></script>
{% endif %}
{% if t1o_header_auto_suggest_status == 1 %}
<link rel="stylesheet" property="stylesheet" type="text/css" href="catalog/view/theme/oxy/stylesheet/livesearch.css" />
<script type="text/javascript" src="catalog/view/theme/oxy/js/livesearch.js"></script>
{% endif %}
{% if t1o_others_totop == 1 %}	
<link rel="stylesheet" property="stylesheet" type="text/css" href="catalog/view/theme/oxy/stylesheet/ui.totop.css" />
<script type="text/javascript" src="catalog/view/theme/oxy/js/jquery.ui.totop.js"></script>
<script type="text/javascript">
	jQuery(document).ready(function() {	
		$().UItoTop({ easingType: 'easeOutQuart' });	
	});
</script>
{% endif %}
<link rel="stylesheet" type="text/css" href="catalog/view/theme/oxy/stylesheet/animate.css" />
<script type="text/javascript" src="catalog/view/theme/oxy/js/quickview/quickview.js"></script>		
<link rel="stylesheet" property="stylesheet" href="catalog/view/theme/oxy/js/quickview/fancybox/jquery.fancybox.css" />
<script src="catalog/view/theme/oxy/js/quickview/fancybox/jquery.fancybox.pack.js"></script>
<script src="catalog/view/theme/oxy/js/jquery.stellar.js" type="text/javascript"></script>
{% if t1o_eu_cookie_status == 1 %}	
<script src="catalog/view/theme/oxy/js/jquery.eucookiebar.js" type="text/javascript"></script>
<script type="text/javascript">
    $(document).ready(function() {
      $('.cookie-message').cookieBar({ closeButton : '.my-close-button' });
    });
</script>
<div class="cookie-message hidden-xs">
  <span class="cookie-img"><img src="catalog/view/theme/oxy/image/321_cookie.png" alt="Cookie" title="Cookie"></span>
  {{ t1o_eu_cookie_message }}
  <a class="my-close-button btn btn-primary" href="#">{{ t1o_eu_cookie_close[lang_id] }}</a>
</div>
{% endif %}

<link rel="stylesheet" property="stylesheet" type="text/css" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" />	
<script type="text/javascript" src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js"></script>
<script type="text/javascript" src="catalog/view/theme/oxy/js/flexmenu.min.js"></script>
<script>
	$('ul.menu.flex').flexMenu();
	$('ul.menu.flex-multi').flexMenu({
		showOnHover: false
	})
</script>
{% if t1o_custom_js !='' %}
{{ t1o_custom_js }}
{% endif %}

</div>
{% if t1o_custom_bottom_2_status == 1 and t1o_layout_style == 'full-width' %}
<div id="footer_custom_2" class="hidden-xs">
<div class="container">
<div class="row">
<div class="col-sm-12 padd-t-b-30">
{{ t1o_custom_bottom_2_content }}
</div>
</div>
</div>
</div>
{% endif %}
</body></html>